@import '../../../styles/variables.scss';

.container-info {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  border-radius: 10px;
  width: 280px;
  box-shadow: $box-shadow-primary;
  background-color: #fff;
  padding: 20px;
  //transition: transform 0.3s ease;
  
  // &:hover{
  //   transform: scale(1.03);
  // }

  h6 {
    font-size: 14px;
  }

  p {
    font-size: 18px;
    font-weight: 650;
    color: $green-color;

    span {
      font-size: 14px;
      color: $text-color;
    }
  }

  .header{
    display: flex;
    margin-bottom: 20px;

    .icon {
      width: 50px;
      height: 50px;
      min-width: 50px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      i{
        font-size: 24px;
        color: #fff;

      }
    }
    
    .title {
      margin-left: 10px;
      
      p {
        font-size: 11px;
        font-weight: 550;
        color: $gray-light;
      }
      h5 {
        font-size: 16px;
      }
    }
  }

  .action-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 20px;

    a {
      text-decoration: none;
      text-align: center;
      padding: 5px 10px;
      border-radius: 10px;
      flex: 1;
      cursor: pointer;
      transition: transform 0.2s ease;
      background-color: $gray-light;
      color: #fff;
      
      &:hover{
        transform: scale(1.03);
      }
    }
    
    .delete-btn{
      color: $text-color;
      border: 1px solid $text-color;
      background-color: transparent;
    }
  }

}