@import '../../../styles/variables.scss';

.card-container{
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: $box-shadow-primary;
  border-left: 4px solid #fff;
  
  .card-left{

    p{
      font-size: 14px;
      color: $text-color;
    }
  }

  .card-right{
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      border-radius: 8px;
      font-size: 15px;
      font-weight: 500;
      padding: 5px 20px;
      border: none;
      background-color: $gray-light;
      cursor: pointer;
      text-decoration: none;
      color: #fff;
    }

    h4{
      font-weight: 600;

      span{
        color: $green-color;
      }
    }
  }
}