.card-container{
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-left: 4px solid #2d66e0;

  .card-right{
    display: flex;
    align-items: center;
    gap: 20px;
  }
}