$primary-color: #fbaf00;
$text-color: #555555;
$secondary-color: #313131;
$gray-bg: #f8f8f8;
$gray-sencondary-bg: #128391;

//fdc500

//cores para categorias
$color-design: #3498db;       
$color-development: #519872;  
$color-marketing: #F76F8E;    
$color-research: #F38D68;     
$color-testing: #9b59b6;      
$color-operations: #7FD8BE;   
$color-sales: #FABC2A;       
$color-support: #FFCAB1;     
$color-finance: #A1FCDF;     
$color-other: #34495e;       

    
