$primary-color: #fbaf00;
$text-color: #555555;
$secondary-color: #313131;
$gray-bg: #f8f8f8;
$gray-light: #9c9c9c;
$gray-secondary-bg: #128391;
$green-color: #0b926c;
$red-color: #df0e0e;
$box-shadow-primary:rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
$box-shadow-secondary:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;


//cores para categorias
$color-design: #9b59b6;       
$color-development: #1b7ae7;  
$color-marketing: #F76F8E;    
$color-research: #F38D68;     
$color-testing: #a543cc;      
$color-operations: #3fb172;   
$color-sales: #FABC2A;       
$color-support: #803579;     
$color-finance: #1cc4ad;     
$color-other: #34495e;       

    
