@import "../../../styles/variables.scss";

.container{
  margin-top: 30px;

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    a {
      border-radius: 8px;
      font-size: 15px;
      font-weight: 500;
      padding: 5px 20px;
      border: none;
      background-color: transparent;
      border: 1.5px solid $text-color;
      color: $text-color;
      cursor: pointer;
      text-decoration: none;
      transition: transform 0.2s ease;
      
      &:hover{
        transform: scale(1.03);
      }
    }

  }

  .services-cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}